<div class="cart-drawer-benefits text-center">
  <div class="cart-drawer-benefit">
    <div class="cart-drawer-benefit-text">
      <p><strong>100 DAY FREE TRIAL</strong></p>
      <p>Experience it for yourself</p>
    </div>
  </div>
  <div class="cart-drawer-benefit">
    <div class="cart-drawer-benefit-text">
      <p><strong>FREE SHIPPING</strong></p>
      <p>Hassle-free purchasing</p>
    </div>
  </div>
  <div class="cart-drawer-benefit">
    <div class="cart-drawer-benefit-text">
      <p><strong>FLEXIBLE PAYMENTS</strong></p>
      <p>Select Affirm at checkout to pay over time</p>
    </div>
  </div>
</div>