<div class="cart-drawer-benefits">
  <div class="cart-drawer-benefit">
    <div class="cart-drawer-benefit-text">
      <strong>100 DAY FREE TRIAL</strong>
      Experience it for yourself
    </div>
  </div>
  <div class="cart-drawer-benefit">
    <div class="cart-drawer-benefit-text">
      <strong></strong>FREE SHIPPING</strong>
      Hassle-free purchasing
    </div>
  </div>
  <div class="cart-drawer-benefit">
    <div class="cart-drawer-benefit-text">
      <strong></strong>FLEXIBLE PAYMENTS</strong>
      Select Affirm at checkout to pay over time
    </div>
  </div>
</div>