<style>
    .cart-drawer-benefit-text h6{
        margin-top: 12px;
    }
    .cart-drawer-benefit-text h6 strong{
        font-weight: 600;
    }
</style>
<div class="cart-drawer-benefits text-center">
  <div class="cart-drawer-benefit">
    <div class="cart-drawer-benefit-text">
      <h6 class="mb-0"><strong>100 DAY FREE TRIAL</strong></h6>
      <p>Experience it for yourself</p>
    </div>
  </div>
  <div class="cart-drawer-benefit">
    <div class="cart-drawer-benefit-text">
      <h6 class="mb-0"><strong>FREE SHIPPING</strong></h6>
      <p >Hassle-free purchasing</p>
    </div>
  </div>
  <div class="cart-drawer-benefit">
    <div class="cart-drawer-benefit-text">
      <h6 class="mb-0"><strong>FLEXIBLE PAYMENTS</strong></h6>
      <p >Select Affirm at checkout to pay over time</p>
    </div>
  </div>
</div>