<div class="multistep-step multistep-step--5" data-step="5" style="display: none;">
  <div class="step5-container">
    <h2 class="step-title">Order Summary</h2>

    <div class="step5-layout">
      <div class="order-summary-container" data-order-summary>
        <div class="order-summary-loading">
          <p>Loading your order...</p>
        </div>
      </div>

      <div class="summary-totals-wrapper">
      <div class="summary-totals-container" data-summary-totals>
      </div>
      <button type="button" class="btn desktop--only btn--steps btn--large" data-checkout-btn>
        Checkout
      </button>
      </div>

      <div class="order-summary-icons">
        <div class="order-summary-icon">
          {% render 'icon-multistep-delivery' %}
          <span class="order-summary-icon-text">Free Delivery</span>
        </div>
        <div class="order-summary-icon">
          {% render 'icon-multistep-trial' %}
          <span class="order-summary-icon-text">Free Trial</span>
        </div>
        <div class="order-summary-icon">
          {% render 'icon-multistep-warranty' %}
          <span class="order-summary-icon-text">Free Warranty</span>
        </div>
      </div>

      <div class="order-summary-bullets">
        <div class="order-summary-bullet" data-delivery-bullet>
          {% comment %} TODO: SPEAK WITH BAR {% endcomment %}
        {% render 'icon-multistep-deliver_2' %}
          Estimated delivery between Dec 15-20
        </div>
        <div class="order-summary-bullet" data-affirm-container>
          {% render 'icon-multistep-affirm' %}
          <div class="affirm-as-low-as" data-page-type="product"></div>
          <a href="#" class="affirm-purchasing-power-link" style="text-decoration: underline; cursor: pointer; color: inherit;">Check your purchasing power</a>
        </div>
        <div class="order-summary-bullet">
          {% render 'icon-multistep-paysquad' %}
          Pay with friends and family using <span style="font-weight: 600">Paysquad</span>
        </div>
      </div>

      <div class="step-actions">
        <button type="button" class="btn mobile--only btn--steps btn--large" data-checkout-btn>
          Checkout
        </button>
        <button type="button" class="btn back-button btn--steps action-button" data-prev-step="4">
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
  <path d="M4.84998 8.84998L0.849976 4.84998L4.84998 0.849976" stroke="#454545" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
</svg>  Back
        </button>
      </div>
    </div>
  </div>
</div>
