<div>
  <h4 style="color: #333;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
margin-top: 20px;">
    PEACE OF MIND, EVERY RIDE.
  </h4>
</div>
<div class="product__block__icon" style="--PB: 16px;margin-top:20px;">
  <div class="icon-holder" style="--ICON-SIZE: 16px; --ICON-STROKE-COLOR: #4B4B4B;">


    <!-- /snippets/image.liquid -->



    <div class="relative block w-full h-full overflow-hidden" style="--wh-ratio: ;  ">
      <img src="//babyark.com/cdn/shop/files/check.svg?v=1741870873&amp;width=16" alt="" width="16" height="17"
        loading="lazy"
        class="block overflow-hidden w-full h-full object-cover transition-opacity duration-300 ease-linear " srcset="
                        //babyark.com/cdn/shop/files/check.svg?v=1741870873&amp;width=32 2x,
                        //babyark.com/cdn/shop/files/check.svg?v=1741870873&amp;width=16
                      " fetchpriority="auto" style="object-position: center center; ">
    </div>
  </div>

  <p
    style="font-weight:400;font-family:font-family: var(--FONT-STACK-BODY);font-size:16px;text-transform:none;letter-spacing:0;">
    Where comfort meets convenience - your baby will love it.</p>
</div>
<div class="product__block__icon" style="--PB: 16px;">
  <div class="icon-holder" style="--ICON-SIZE: 16px; --ICON-STROKE-COLOR: #4B4B4B;">


    <!-- /snippets/image.liquid -->



    <div class="relative block w-full h-full overflow-hidden" style="--wh-ratio: ;  ">
      <img src="//babyark.com/cdn/shop/files/check.svg?v=1741870873&amp;width=16" alt="" width="16" height="17"
        loading="lazy"
        class="block overflow-hidden w-full h-full object-cover transition-opacity duration-300 ease-linear " srcset="
                        //babyark.com/cdn/shop/files/check.svg?v=1741870873&amp;width=32 2x,
                        //babyark.com/cdn/shop/files/check.svg?v=1741870873&amp;width=16
                      " fetchpriority="auto" style="object-position: center center; ">
    </div>
  </div>

  <p
    style="font-family:font-family: var(--FONT-STACK-BODY);font-weight:400;font-size:16px;text-transform:none;letter-spacing:0;">
    Guided step-by-step installation</p>
</div>

<div class="product__block__icon" style="--PB: 16px;margin-bottom:20px;">
  <div class="icon-holder" style="--ICON-SIZE: 16px; --ICON-STROKE-COLOR: #4B4B4B;">


    <!-- /snippets/image.liquid -->



    <div class="relative block w-full h-full overflow-hidden" style="--wh-ratio: ;  ">
      <img src="//babyark.com/cdn/shop/files/check.svg?v=1741870873&amp;width=16" alt="" width="16" height="17"
        loading="lazy"
        class="block overflow-hidden w-full h-full object-cover transition-opacity duration-300 ease-linear " srcset="
                        //babyark.com/cdn/shop/files/check.svg?v=1741870873&amp;width=32 2x,
                        //babyark.com/cdn/shop/files/check.svg?v=1741870873&amp;width=16
                      " fetchpriority="auto" style="object-position: center center; ">
    </div>
  </div>

  <p
    style="font-family:font-family: var(--FONT-STACK-BODY);font-size:16px;text-transform:none;letter-spacing:0;font-weight:400;">
    Life-saving real-time alerts</p>
</div>